.reviews-popup {
    position: relative;
    border-radius: 5px;
    background: $white;
    padding: 30px 20px;
    display: none;
    max-width: 460px;
}

.popup__close {
    position: absolute;
    right: 15px;
    display: block;
    width: 15px;
    height: 15px;
}

.popup__title {
    font-size: 14px;
    color: $black;
    font-family: gagalin;
    margin-bottom: 25px; 
}

.popup__text {
    font-size: 14px;
    font-weight: 300;
}

.fancybox-bg {
    background: rgba(#2f3324, .92);
}

.fancybox-close-small {
    display: none;
}